{% extends 'app/main_page.html' %}

{% block header %}
<h1>Sticky Table Headers <em>Revisited</em> <span>Creating functional and flexible sticky table headers</span></h1>
<nav class="codrops-demos">
    <a class="current-demo" href="{% url 'index' %}" title="Basic Usage">Basic Usage</a>
    <a href="{% url 'temp' %}" title="Temp">Temp</a>
	<a href="{% url 'transaction_list' %}" title="Transaction List">Transaction List</a>
    <a href="{% url 'client_list' %}" title="Client List">Client List</a>
</nav>
{% endblock %}


{% block content %}
<div class="component">
	<h2>Basic usage</h2>
	<p>This is a basic usage example. Scroll down to see the sticky table header in action. And of course, multiple instances are supported. Tables are pre-populated with random user data retrieved from the <a href="http://randomuser.me/" title="Random User Generator">Random User Generator</a>.</p>
	<table>
		<thead>
			<tr>
				<th>m1</th><th>m2</th><th>m3</th><th>m4</th><th>m5</th><th>m6</th>
				<th>m7</th><th>m8</th><th>m9</th><th>m10</th><th>w1</th><th>w2</th>
				<th>w3</th><th>w4</th><th>w5</th><th>w6</th><th>w7</th><th>w8</th>
				<th>w9</th><th>w10</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>100</td><td>50</td><td>10</td><td>100</td><td>50</td><td>10</td>
				<td>1500</td><td>50</td><td>10</td><td>100</td><td>50</td>
				<td>10</td><td>100</td><td>50</td><td>10</td><td>100</td><td>50</td>
				<td>10</td><td>100</td><td>50</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}


{% block footer %}
<section class="related">
	<p>If you enjoyed these effects you might also like:</p>
	<div><a href="http://tympanus.net/Development/HeaderEffects/"><h4>On Scroll Header Effects</h4></a></div>
	<div><a href="http://tympanus.net/Development/MultiElementSelection/"><h4>Multi-Item Selection</h4></a></div>
</section>
{% endblock %}
